@page
@model MYChamp.Pages.TakeTest.TakeTestPageModel

<section class="pt-5 pb-5 shadow-sm">
    <div class="container">
        <div class="row pt-5">
            <div class="col-12">
                <h3 class="text-uppercase mb-4">Personality Test</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row pt-5">
            @for (int i = 0; i < Model.TestList.Count; i++)
            {
                string base64Image = @Model.TestList[i].imagebase64;
                string dataURI = $"data:image/png;base64,{base64Image}";
                <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                    <div class="card">
                        <img src="@dataURI" alt="imagename" />
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">@Model.TestList[i].name</h5>
                            <p class="card-text mb-2">@Model.TestList[i].description</p>
                            <p class="card-text mb-4">
                                <i class="fas fa-clock"></i> Timer: @Model.TestList[i].timer seconds
                            </p>
                             <a href="Index?testid=@Model.TestList[i].testid" class="btn btn-primary mt-auto align-self-start">Take Test</a> 
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
